<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-slides mode="ios" pager="true" scrollbar="ios">
      <ion-slide>
        <ion-img src="/assets/foto.jpg"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="/assets/stiker.png"></ion-img>
      </ion-slide>

    </ion-slides>
    <ion-card-header>

      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content color="light">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quasi tempore atque dolore dolor, maxime
      odit similique officiis cumque, laboriosam praesentium. Nihil, officia voluptates. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Harum neque mollitia architecto, sint, sapiente dolore quas, cumque molestiae fuga
      cum debitis at natus culpa corrupti tempora eos aspernatur iure quidem!
      Facere libero temporibus
      exercitationem dolorem doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Nisi veritatis
      dignissimos nam minima aspernatur, blanditiis distinctio.
      Aut, eveniet, ipsam laboriosam tenetur soluta vitae
      nesciunt officiis qui saepe reiciendis doloremque nostrum?
    </ion-card-content>
  </ion-card>

</ion-content>