<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>dependencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="md" pager="md" scrollbar="md">
    <ion-slide>
      <ion-img src="/assets/del.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/del.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/del.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-content>
      <h3>Direccion:</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, iure error, doloremque necessitatibus hic
        aperiam,
      </p>


      <h5>informacion:</h5>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aspernatur officia possimus perspiciatis sit
      architecto laborum ipsum! Explicabo distinctio sint minima alias ipsum blanditiis, voluptatibus, culpa dolorem
      veritatis debitis atque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum sint ipsa mollitia
      facere in distinctio dolores, perspiciatis numquam minima quam quaerat alias porro. Facilis debitis amet ducimus
      ab voluptatibus consectetur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, eveniet
      pariatur. Nesciunt quidem molestias reprehenderit magnam ipsam totam omnis rerum ab ipsa. Qui modi possimus dolore
      animi maiores numquam sed?
    </ion-card-content>
  </ion-card>
</ion-content>