
.post {
  margin-top: 10px;
  
  -webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px -5px rgba(0,0,0,0.5);
  padding-bottom: 0% !important;
}

.image-slide {
  width: 100%;
  height: 250px;

  // background-color: red;

  /* Full height */
  // height: 100%; 

  /* Imagen centrada y colocada de forma elegante */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ion-content {
  --background: url("../../../assets/stiker2.png") no-repeat center center / cover;
  --background-repeat: no-repeat;
  --background-size: cover; 
  // --color: #3880ff;
  // --keyboard-offset: 0px;
  // --offset-bottom: 0px;
  // --offset-top: 0px;
  // --padding-bottom: 0px;
  // --padding-end: 0px;
  // --padding-start: 0px;
  // --padding-top: 0px;
}